

<div th:fragment="AdminProductList">
    <h1 style="text-align: center">List Product</h1>

    <a th:href="@{/admin/product/add}">Add Product</a>


    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Id</td>
            <td>ProductName</td>
            <td>Image</td>
            <td>CategoryName</td>

            <td>action</td>
            <td>action</td>

        </tr>
        </thead>
        <tbody>
        <tr th:each="obj : ${products}">
            <td th:text="${obj.id}">Id</td>
            <td th:text="${obj.productname}">ProductName</td>
            <td th:text="${obj.Image}">ảnh</td>
            <td th:text="${obj.categoryname}">Category Name</td>

            <td><a th:href="${'/amdin/product/edit/' + obj.id}">Edit</a></td>
            <td><a th:href="${'/admin/product/delete/' + obj.id}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>