
<div th:fragment="AdminAccountList">
    <div th:replace="layout-admin.html::LayoutAdmin"></div>

    <h1 style="text-align: center">List Account</h1>


    <a th:href="@{/admin/account/add}">Add Account</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>UserName</td>
                <td>Email</td>

                <td></td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            <tr th:each="obj : ${accounts}">
                <td th:text="${obj.id}">Id</td>
                <td th:text="${obj.username}">UserName</td>
                <td th:text="${obj.email}">Email</td>

                <td>Edit</td>
                <td><a th:href="${'/admin/account/delete/' + obj.id}">Delete</a></td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" th:href="${'/admin/account?page=' + (currentPage - 1)}" th:if="${currentPage > 0}">Previous</a></li>

        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}"><a class="page-link" th:href="${'/admin/account?page=' + (i - 1)}" th:text="${i}">1</a></li>

        <li class="page-item"><a class="page-link" th:href="${'/admin/account?page=' + (currentPage + 1)}" th:if="(${currentPage < totalPage -1})">Next</a></li>
    </ul>
</div>