<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Page Title</title>

</head>

<body>
<!-- Your HTML content here -->


<div th:fragment="PostListClient">
    <h1 style="text-align: center">List Post</h1>

    <div class="container">

        <div class="news-list">
            <div class="row">
                <div class="card col-md-4 mt-5" th:each="obj : ${post}">
                    <img th:src="@{/img/{imageName}(imageName=${obj.image})}" alt="News Image"style="max-width: 100px; max-height: 100px;">
                    <h2 th:text="${obj.title}">News Title</h2>
                    <p th:text="${#strings.abbreviate(obj.content, 20)}">News Content</p>
                    <a th:href="@{/post/view/{id}(id=${obj.id})}">Read more</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>
l>